@model baberShop.Models.BOOKING

@{
    ViewBag.Title = "Book-a-seat";
    Layout = "";
}





    <form action="/HomeBaberShop/BookSeat" method="post" class="custom-form booking-form" id="bb-booking-form" role="form">
        <div class="text-center mb-5">
            <h2 class="mb-1">Book a seat</h2>

            <p>Please fill out the form and we get back to you</p>
            <p class="text-danger">@ViewBag.Success </p>
        </div>

        <div class="booking-form-body">
            <div class="row">

                <div class="col-lg-6 col-12">
                    <input type="text" name="bb-name" id="bb-name" class="form-control" placeholder="Full name" required>
                </div>

                <div class="col-lg-6 col-12">
                    <input type="tel" class="form-control" name="bb-phone" placeholder="Mobile 010-020-0340" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required="">
                </div>

                <div class="col-lg-6 col-12">
                    <input class="form-control" type="time" name="bb-time" />
                </div>


                <div class="col-lg-6 col-12">
                    <input type="date" name="bb-date" id="bb-date" class="form-control" placeholder="Date" required>
                </div>


            </div>

            <textarea name="bb-message" rows="3" class="form-control" id="bb-message" placeholder="Comment (Optionals)"></textarea>

            <div class="col-lg-4 col-md-10 col-8 mx-auto">
                <button type="submit" class="form-control">Submit</button>
            </div>
        </div>
    </form>

    @*
        <div class="form-horizontal">
            <h4 class="text-light">BOOKING</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ID_SERVICE, new { htmlAttributes = new { placeholder = "Nhập họ tên...", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ID_SERVICE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ID_USER, new { htmlAttributes = new { placeholder = "Nhập SDT", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ID_USER, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ID_SERVICE, new { htmlAttributes = new { placeholder = "Chọn dịch vụ", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ID_SERVICE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DATE_BOOKING, new { htmlAttributes = new { placeholder = "chọn ngày", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DATE_BOOKING, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TIME_BOOKING, new { htmlAttributes = new { placeholder = "Chọn giờ", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TIME_BOOKING, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.COMMENT, new { htmlAttributes = new { placeholder = "Ghi chú", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.COMMENT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-danger m-2" />
                </div>
            </div>
        </div>    *@




